<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee" xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"  xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
          http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-3.0.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
          http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd">
   
    <context:annotation-config />
    
    
    
    <!-- add bean for EMF -->
    <!-- Beans for DAO Interface Implementations-->
    <bean id="entityManagerFactory"
              class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="carManagementSystem-unit" />
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <bean id="dataSource"
              class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.apache.derby.jdbc.ClientDriver" />
        <property name="url"
                      value="jdbc:derby://localhost:1527/pa165" />
        <property name="username" value="pa165" />
        <property name="password" value="pa165" />
    </bean>
    
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager"
              p:entityManagerFactory-ref="entityManagerFactory" />
    
    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
    
    <bean id="personDAO" class="cz.muni.fi.pa165.persistence.DAO.PersonDAOImpl"/>     
    <bean id="carDAO" class="cz.muni.fi.pa165.persistence.DAO.CarDAOImpl"/>     
    <bean id="leaseDAO" class="cz.muni.fi.pa165.persistence.DAO.LeaseDAOImpl"/>     
    <bean id="serviceCheckDAO" class="cz.muni.fi.pa165.persistence.DAO.ServiceCheckDAOImpl"/>     
    
    <!-- Beans for service layer classes-->       
    <bean id="personService" class="cz.muni.fi.pa165.service.service.PersonServicesImpl"/>
    <bean id="carService" class="cz.muni.fi.pa165.service.service.CarImpl"/>
    <bean id="leaseService" class="cz.muni.fi.pa165.service.service.LeaseServiceImpl"/>
    <bean id="ServiceCheckService" class="cz.muni.fi.pa165.service.service.ServiceCheckImpl"/>
    
    <tx:annotation-driven />
 
    
</beans>
