/* 
    Document   : style
    Created on : 28.11.2014, 8:05:09
    Author     : Petr Potucek
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    margin: 0; 
    padding: 0; 
    background-color: #ffffff; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 100%; /* 16px */ 
}
h1{
    font-family: 'Open Sans', sans-serif; 
    font-size: 2.25em/*36/*/; 
    color: #25252b; 
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
}
h2{
    font-family: 'Open Sans', sans-serif; 
    font-size: 2em/*36/*/; 
    color: white; 
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

@media (min-width: 800px) {
    /*hlavicka*/
    header{
        margin:0;
        padding:0;
        height:6.25em;
        background:#2c3e50;
    }
}
@media (max-width: 900px) {
    /*hlavicka*/
    header{
        height:12.5em;
        background:#2c3e50;
    }
}
@media (max-width: 570px) {
    /*hlavicka*/
    header{
        height:18.75em;
        background:#2c3e50;
    }
}



/*menu*/
nav{
    text-align: center;
}
nav ul{
    margin:0;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    display: block;
    padding:30px 20px 37px 20px;
    font-family: 'Open Sans', sans-serif; 
    font-size: 1.5em/*36/*/; 
    font-weight: lighter;
    color: rgb(197,207,218);
    text-decoration: none;
    -webkit-transition: color .5s, background .5s, height .5s;
    -moz-transition: color .5s, background .5s, height .5s;
    -o-transition: color .5s, background .5s, height .5s;
    -ms-transition: color .5s, background .5s, height .5s;
    transition: color .5s, background .5s, height .5s;
}
nav a:hover { 
    color:rgb(255,255,255);
    background:rgb(30,42,56);

}




/*stylovani sekci*/
.sekce{
    max-width:1150px; 
    margin: 0 auto;

}
.sekce ul{
    float:left;
    list-style-type: none;
}
.sekce ul li{
    display: inline-block;
    float:left;

}

/* Prechod pro sekce */
#wrapper{
    padding: 15px 15px 15px 15px; 
    width:236px; 
    height:326px;
}
.slideContainer{
    height:326px; 
    overflow:hidden; 
    position: absolute; 
    width: 236px; 

}
.slideIcon{
    width:236px;
    height:auto; 
    position:absolute; 
    margin-top:-326px; 
    -webkit-transition:.4s ease; 
    -moz-transition:.4s ease; 
    -ms-transition:.4s ease; 
    -o-transition:.4s ease; 
    transition:.4s ease;
}
.slideIcon:hover{
    position:absolute; 
    margin-top:0;
}

